.contact-page-section .contact-comment-section form .form-group input,
.contact-page-section .contact-comment-section form .form-group select,
.contact-page-section .contact-comment-section form .form-group textarea {
    border: none;
    background: #E0E0E0;
    border-radius: 0;
    box-shadow: none;
}

.contact-page-section .contact-comment-section form .form-group input:read-only,
.contact-page-section .contact-comment-section form .form-group select:disabled,
.contact-page-section .contact-comment-section form .form-group textarea:disabled {
    border: none;
    background: #828282;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
}

.contact-page-section .contact-comment-section form .form-group input:read-only::placeholder {
    color: #fff;
}

.contact-page-section .contact-comment-section form .form-group input,
.contact-page-section .contact-comment-section form .form-group select {
    height: 43px;
    padding: 0 45px;
}

.contact-page-section .contact-comment-section form .form-group input.btn-clear,
.contact-page-section .contact-comment-section form .form-group input.btn-clear:hover {
    background-color: #525252;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 15px;
    border: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    padding: 0 50px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    width: 265px;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send:disabled {
    text-transform: uppercase;
    background-color: rgba(29, 167, 117, 0.2);
}

.greenTextLink{
    color: #1DA775;
    text-decoration: underline;
}

.selecionePhotoContainer{
    margin-left: 15px;
}

.selecioneImagemWrapper{
    display: flex;
}

.procurar{
    position: relative;
    width: 110px;
    left: -110px;
}

.greenBackgroundButton {
    background: #00FF3C;
    padding: 7px 30px;
    color: #111111;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 500;
    margin-bottom: 14px;
    display: inline-block;
    border: 2px solid #00FF3C;
    position: relative;
    left: -5px;
}

.contact-page-section .contact-comment-section form .form-group input.btn-send {
    color: #ffffff;
}